[submodule "initia"]
	path = initia
	url = git@github.com:initia-labs/initia.git
[submodule "ibc-go"]
	path = ibc-go
	url = git@github.com:cosmos/ibc-go.git
[submodule "cosmos-proto"]
	path = cosmos-proto
	url = git@github.com:cosmos/cosmos-proto.git
[submodule "ics23"]
	path = ics23
	url = git@github.com:confio/ics23
[submodule "miniwasm"]
	path = miniwasm
	url = git@github.com:initia-labs/miniwasm.git
[submodule "wasmd"]
	path = wasmd
	url = git@github.com:CosmWasm/wasmd.git
[submodule "block-sdk"]
	path = block-sdk
	url = git@github.com:skip-mev/block-sdk.git
[submodule "minievm"]
	path = minievm
	url = git@github.com:initia-labs/minievm.git
[submodule "forwarding"]
	path = forwarding
	url = git@github.com:noble-assets/forwarding.git
[submodule "cosmos-sdk"]
	path = cosmos-sdk
	url = git@github.com:cosmos/cosmos-sdk.git
[submodule "connect"]
	path = connect
	url = git@github.com:skip-mev/connect.git
