[submodule "initia"]
	path = initia
	url = git@github.com:initia-labs/initia.git
[submodule "cosmos-sdk"]
	path = cosmos-sdk
	url = git@github.com:cosmos/cosmos-sdk.git
[submodule "ibc-go"]
	path = ibc-go
	url = git@github.com:cosmos/ibc-go.git
[submodule "cosmos-proto"]
	path = cosmos-proto
	url = git@github.com:cosmos/cosmos-proto.git
[submodule "ics23"]
	path = ics23
	url = git@github.com:confio/ics23
[submodule "pob"]
	path = pob
	url = git@github.com:skip-mev/pob.git
[submodule "miniwasm"]
	path = miniwasm
	url = git@github.com:initia-labs/miniwasm.git
[submodule "wasm"]
	path = wasm
	url = git@github.com:CosmWasm/wasmd.git
