node_modules

.vscode/

/build/
/confio/
/cosmos/
/cosmos_proto/
/gogoproto/
/google/
/ibc/
/initia/
/intertx/
/tendermint/

/src/
/grpc/src
/kotlin/src

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
